<div class="bg-gradient-to-b from-gray-900 to-gray-800 p-6 rounded-lg shadow-lg transition-all duration-300 hover:shadow-xl">
    <div class="flex justify-between items-center mb-4 mx-8">
        <h2 id="rangeTitle" class="text-lg font-bold text-blue-400"></h2>
    </div>

    <div class="flex space-x-4 mx-6">
        <div class="w-4/7 bg-gradient-to-b from-gray-900 to-gray-800 p-6 rounded-lg shadow-lg border border-gray-700">
            <div class="overflow-auto">
                <div id="colHeaders" class="flex mb-2"></div>
                <div id="rangeMatrix"></div>
            </div>
        </div>

        <div class="w-3/6 bg-gradient-to-b from-gray-900 to-gray-800 p-6 rounded-lg shadow-lg border border-gray-700">
            <div id="legendContainer"></div>
        </div>
    </div>
</div>